"*":
  "atom-beautify":
    css:
      default_beautifier: "Prettier"
    executables:
      "php-cs-fixer":
        path: "C:\\Users\\emad\\.atom\\other\\php-cs-fixer-v2.phar"
    general:
      _analyticsUserId: "78d1df23-ef2a-4b60-a57f-e3123bb4cecd"
    html:
      preserve_newlines: false
    js:
      default_beautifier: "Prettier"
      object_curly_spacing: true
      preserve_newlines: false
      space_before_conditional: false
    markdown:
      default_beautifier: "Prettier"
    php:
      allow_risky: "yes"
  "atom-package-deps":
    ignored: [
      "atom-ide-definitions"
    ]
  autoprefixer:
    runOnSave: true
  autosave:
    enabled: true
  "color-picker":
    abbreviateValues: true
    alphaChannelAlways: true
    automaticReplace: true
    triggerKey: "K"
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "git-time-machine"
      "markdown-preview-plus"
      "open-in-browser"
      "file-header"
      "atom-ide-definitions"
      "remote-ftp"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "notepad-plus-plus-syntax"
    ]
    uriHandlerRegistration: "always"
  docblockr:
    auto_add_method_tag: true
    c_style_block_comments: true
    deep_indent: true
    development_mode: true
    extra_tags_go_after: true
    lower_case_primitives: true
    newline_after_block: true
    override_js_var: true
    per_section_indent: true
    short_primitives: true
    simple_mode: true
  "double-tag":
    allowEndTagSync: true
  editor:
    fontFamily: "hack, '思源黑体 CN'"
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "1adf8d6b-8512-440e-aaee-04929fa253a1"
  "file-header":
    autoAddingHeaderOnNewFile: false
    autoAddingHeaderOnSaving: false
    configDirPath: "C:\\Users\\emad\\.atom\\other\\file-header"
    dateTimeFormat: "YYYY-MM-DD HH:mm:ss"
    email: "linjialiang@163.com"
    ignoreListForAutoUpdateAndAddingHeader: [
      ""
    ]
    numOfEmptyLinesAfterNewHeader: 0
    realname: "madnesslin(地上马)"
  "line-ending-selector":
    defaultLineEnding: "LF"
  "linter-eslint":
    global: {}
  "linter-ui-default": {}
  "markdown-preview-plus":
    markdownItConfig:
      breakOnSingleNewline: true
      useCriticMarkup: true
      useToc: true
    pandocConfig: {}
    previewConfig:
      activatePreviewWithEditor: true
    syncConfig:
      syncEditorOnPreviewScroll: true
      syncPreviewOnChange: true
      syncPreviewOnEditorScroll: true
    syntaxThemeName: "atom-material-syntax"
    useGitHubStyle: true
  "markdown-toc-auto": {}
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-quick-highlight": true
      "minimap-quick-highlightDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "one-dark-ui":
    tabCloseButton: "Left"
    tabSizing: "Maximum"
  "one-light-ui":
    tabCloseButton: "Left"
    tabSizing: "Maximum"
  "platformio-ide-terminal":
    ansiColors:
      zBright:
        brightBlue: "#0080c0"
    core:
      shell: "C:\\Program Files\\Git\\bin\\bash.exe"
      workingDirectory: "Active File"
    style:
      theme: "solarized-dark"
    toggles:
      autoClose: true
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
    showPath: false
    sortBy: "group"
  "quick-highlight":
    decorate: "box"
  "remote-ftp":
    beta: {}
    connector:
      autoUploadOnSave: "only when connected"
    context: {}
    dev: {}
    statusbar:
      enable: true
    tree:
      showViewOnStartup: false
  "spell-check":
    useLocales: false
  "sync-settings":
    _lastBackupHash: "97b984ae00bd09681c0d4ebb70b18b08f2c19f08"
    extraFiles: [
      "config.cson"
      "github.cson"
      "markdown-preview-plus.cson"
      "projects.cson"
      ".apmrc"
    ]
    gistId: "60e333b6d2aec1ae974e3f5e1f18e7a6"
    personalAccessToken: " c4efd0e8ce61a9a2856649d3b9468c5b2b77a3ee "
    quietUpdateCheck: true
    removeObsoletePackages: true
  "tree-view-git-status":
    gitFlow:
      display_type: 2
  welcome:
    showOnStartup: false
