[
  {
    title: "programmer"
    group: "知识汇总"
    paths: [
      "D:\\programmer"
    ]
    icon: "code-icon"
    color: "green"
    devMode: true
  }
  {
    title: "qyadmin"
    group: "ThinkPHP项目"
    paths: [
      "C:\\wamp\\web\\www\\qyadmin"
    ]
    icon: "php-icon"
    color: "#8892BF"
    devMode: true
  }
  {
    title: ".atom"
    group: "atom"
    paths: [
      "C:\\Users\\linji\\.atom"
    ]
    icon: "atom-icon"
    color: "green"
  }
]
