[
  {
    title: "programmer"
    group: "知识汇总"
    paths: [
      "D:\\programmer"
    ]
    icon: "code-icon"
    color: "green"
    devMode: true
  }
  {
    title: ".atom"
    group: "atom"
    paths: [
      "C:\\Users\\emad\\.atom"
    ]
    icon: "atom-icon"
    color: "green"
  }
]